<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Todo Login</title>
</head>
<body>

     <form class="form" method="post" action="/signup">
     
        <h1>todos</h1>
        <h3 class="welcome">
            Welcome to the todos app!
        </h3>
        <div class="login"><h4>Sign Up</h4></div>
        <div class="form-row">
            <label for="email" class="form-label" id="email">Name</label>
            <input name="name" autocomplete="off"  class="form-input" placeholder="name" id="email">
        </div>
        <div class="form-row">
            <label for="email" class="form-label" id="email">Email</label>
            <input name="email" autocomplete="off"  class="form-input" placeholder="email" id="email">
        </div>
        <div class="form-row">
            <label for="password" class="form-label" id="password">Password</label>
            <input name="password" autocomplete="off" type="password" class="form-input" placeholder="password" id="password">
        </div>

        <div class="btn-holder">
            <button type="submit" class="btn btn-block">
                SignUp
            </button>
        </div>

            <p class="new-user">Already have an account? 
                <a href="login" class="sign-up">Login!</a>
            </p>


    </form>


    
</body>
</html>